html {
  /*font-size: 10px;*/
  font-family: "Lato", "Helvetica", "Arial", sans-serif; 
  background: #6293d2;
}

header {
  border: 3px double;
  padding: 15px;
  margin: 0 auto;
  max-width: 70%;
  background: #b3b3b3;
}

.flex-container {
  display: flex;
  gap: 2px 4px;
}

.content-in-width {
  max-width: 80%;
  margin: auto;
}

ul li {
  display: inline;
}

main {
  margin: 0 auto;
  border: 3px double;
  flex: 8;
  background: #7c8ff9;
}

article {
  margin: 0 auto;
  text-align: center;
}

article img {
  width: 30%;
  float: left;
}

aside {
  border: 3px double;
  flex: 2;
  text-align: center;
  background: #b3b3b3;
}

nav {
  padding: 15px;
  border: 3px double;
  flex: 1;
  background: #b3b3b3;
}

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}
