html {
  /*font-size: 10px;*/
  font-family: "Lato", "Helvetica", "Arial", sans-serif;
  background: #6293d2;
}

header {
  border: 3px double;
  background: #b3b3b3;
  box-sizing: border-box;
}

.flex-break {
  flex-basis: 100%;
  height: 0;
}

.flex-container {
  display: flex;
  gap: 2px 4px;
  flex-wrap: wrap;
}

.content-in-width {
  margin: auto;
}

ul {
  list-style: none;
  line-height: 2em;
}

.tree {
  padding-left: 0.5rem;
}

.tree ul li {
  position:relative;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-size: 0.8rem;
  margin: auto;
}

td, th {
  border: 1px solid rgb(190, 190, 190);
  padding: 10px 20px;
}

ul li::before {
  position:absolute;
  left:-10px;
  top:0px;
  border-left:2px solid purple;
  border-bottom:2px solid blue;
  content:"";
  width: 8px;
  height: 1em;
}

ul li::after {
  position:absolute;
  left:-10px;
  bottom:0px;
  border-left:2px solid purple;
  content:"";
  width: 8px;
  height: 100%;
}

ul li:last-child::after{
  display:none;
}

.tree summary {
  cursor: pointer;
}

.tree summary::marker{
  display:none;
  content: none;
}

.tree summary::-webkit-details-marker {
  display: none;
}

.tree ul summary::before {
  content: ">";
  position: absolute;
  left: -30px;
  font-weight: bold;
  transform: rotate(0deg);
  color: blueviolet;
  font-size: 1.5em;
}

.tree ul details[open] > summary::before {
  transform: rotate(90deg);
  color: green;
}

p {
  line-height: 1.5;
}

main {
  margin: 0 auto;
  border: 3px double;
  flex: 8;
  background: #7c8ff9;
}

article {
  margin: 0 auto;
  text-align: center;
}

article img {
  width: 30%;
  float: left;
}

aside {
  border: 3px double;
  flex: 2;
  text-align: center;
  background: #b3b3b3;
}

nav {
  border: 3px double;
  flex: 1;
  background: #b3b3b3;
}

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}
